openapi: 3.0.0

info:
  version: '1.0'
  title: 'Ypsilon Web API'
  description: 'Web Resources Specification (A7) for OnlyFEUP'

servers:
  - url: https://lbaw2492.lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw24092/-/wikis/EAP

tags:
  - name: 'Authentication'
  - name: 'Users'
  - name: 'Posts'
  - name: 'Comments'
  - name: 'Groups'
  - name: 'Interactions with Posts'
  - name: 'Interactions with Users'
  - name: 'Administration'
  - name: 'Search'

paths:

#################################
################# AUTHENTICATION 
#################################

################# LOGIN

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: GST'
      tags:
        - 'Authentication'
      responses:
        '200':
          description: 'Ok. Show Log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: GST'
      tags:
        - 'Authentication'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to trending page.'
                  value: '/home/trending'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

################# LOGOUT

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, OWN, ADM'
      tags:
        - 'Authentication'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

################# REGISTER

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: GST'
      tags:
        - 'Authentication'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: GST'
      tags:
        - 'Authentication'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                username:
                  type: string
                birth_date:
                  type: string
                  format: date
                email:
                  type: string
                password:
                  type: string
              required:
                - nickname
                - username
                - birth_date
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to user profile.'
                  value: '/home'
                302Failure:
                  description: 'Failed registration. Redirect to registration form.'
                  value: '/register'

#################################
################# USERS
#################################

  /profile/{username}:
    get:
      operationId: R201
      summary: 'R201: View User Profile'
      description: 'Show the individual user profile. Access: GST, USR, OWN, ADM'
      tags:
        - 'Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show User Profile UI'
    delete:
      operationId: R204
      summary: 'R204: Delete User Profile'
      description: 'Deletes the user profile. Access: OWN, ADM'
      tags:
        - 'Users'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        '302':
          description: 'Redirect after processing the profile deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to home page .'
                  value: '/home'
      

  /profile/{username}/edit:
    get:
      operationId: R202
      summary: 'R202: Edit User Profile Form'
      description: 'Provide form to edit user profile. Access: USR, OWN, ADM'
      tags:
        - 'Users'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Show Edit Profile UI'
    put:
      operationId: R203
      summary: 'R203: Update User Profile'
      description: 'Processes the user profile update form submission. Access: USR, ADM'
      tags:
        - 'Users'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                bio:
                  type: string
                profile_image:
                  type: string
                banner_image:
                  type: string
      responses:
        '302':
          description: 'Redirect after processing the profile update.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to user profile.'
                  value: '/profile/{username}'
                302Failure:
                  description: 'Failed update. Redirect to edit profile form.'
                  value: '/profile/{username}/edit'



#################################
################# POSTS
#################################

################# DELETE POST

    delete:
      operationId: R301
      summary: 'R301: Delete Post'
      description: 'Deletes the post. Access: OWN, ADM'
      tags:
        - 'Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the post deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect based on context.'
                  value: 
                    - '/home'

################# EDIT POST

  /post/{id}/edit:
    get:
      operationId: R302
      summary: 'R302: Edit Post Form'
      description: 'Provide form to edit post. Access: OWN, ADM'
      tags:
        - 'Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show Edit Post UI'
    put:
      operationId: R303
      summary: 'R303: Update Post'
      description: 'Processes the post update form submission. Access: OWN, ADM'
      tags:
        - 'Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        '302':
          description: 'Redirect after processing the post update.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to post.'
                  value: '/home'
                302Failure:
                  description: 'Failed update. Redirect to edit post form.'
                  value: '/post/{id}/edit'

################# CREATE POST

  /home:
    /groups/{id}:
      post:
        operationId: R304
        summary: 'R304: Create Post'
        description: 'Processes the post creation form submission. Access: USR, OWN, ADM'
        tags:
          - 'Posts'
        parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: true
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  content:
                    type: string
        responses:
          '302':
            description: 'Redirect after processing the post creation.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful creation. Redirect to where the post is.'
                    value:
                    - '/home'
                    - '/groups/{id}'
                  302Failure:
                    description: 'Failed creation. Redirect to where the post is.'
                    value:
                    - '/home'
                    - '/groups/{id}'

#################################
################# GROUPS
#################################

################# LIST GROUPS THAT IS NOT A MEMBER

  /groups/discover:
    get:
      operationId: R501
      summary: 'R501: List Groups that User is not a Member'
      description: 'List all groups. Access: GST, USR, OWN, ADM'
      tags:
        - 'Groups'
      responses:
        '200':
          description: 'Ok. Show list of groups.'

################# LIST GROUPS THAT IS A MEMBER

  /groups/my-groups:
    get:
      operationId: R502
      summary: 'R502: List Groups that User is a Member'
      description: 'List all groups that the user is a member. Access: USR, OWN, ADM'
      tags:
        - 'Groups'
      responses:
        '200':
          description: 'Ok. Show list of groups.'

################# VIEW GROUP

  /groups/{id}:
    get:
      operationId: R503
      summary: 'R503: View Group'
      description: 'Show the individual group. Access: GST, USR, OWN, ADM'
      tags:
        - 'Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show Group UI'

################# UPDATE GROUP

    put:
      operationId: R504
      summary: 'R504: Update Group'
      description: 'Processes the group update form submission. Access: OWN, ADM'
      tags:
        - 'Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                group_image:
                  type: url
                group_banner:
                  type: url
      responses:
        '302':
          description: 'Redirect after processing the group update.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to group.'
                  value: '/groups/{id}'
                302Failure:
                  description: 'Failed update. Redirect to edit group form.'
                  value: '/groups/{id}/edit'

################# DELETE GROUP

    delete:
      operationId: R505
      summary: 'R505: Delete Group'
      description: 'Deletes the group. Access: OWN, ADM'
      tags:
        - 'Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the group deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to groups list.'
                  value: '/groups/my-groups'

################# CREATE GROUP

  /groups/create:
    get:
      operationId: R506
      summary: 'R506: Create Group Form'
      description: 'Provide form to create group. Access: USR, OWN, ADM'
      tags:
        - 'Groups'
      responses:
        '200':
          description: 'Ok. Show Create Group UI'
    post:
      operationId: R507
      summary: 'R507: Create Group'
      description: 'Processes the group creation form submission. Access: USR, ADM'
      tags:
        - 'Groups'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                group_image:
                  type: url
                group_banner:
                  type: url
      responses:
        '302':
          description: 'Redirect after processing the group creation.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to group.'
                  value: '/groups/my-groups'
                302Failure:
                  description: 'Failed creation. Redirect to create group form.'
                  value: '/groups/create'

################# EDIT GROUP

  /groups/{id}/edit:
    get:
      operationId: R508
      summary: 'R508: Edit Group Form'
      description: 'Provide form to edit group. Access: OWN, ADM'
      tags:
        - 'Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show Edit Group UI'

################# MANAGE GROUP

  /groups/{id}/management:
    get:
      operationId: R509
      summary: 'R509: Manage Group'
      description: 'Show the group management panel. Access: OWN, ADM'
      tags:
        - 'Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show Group Management UI'

#########################################
################# INTERACTIONS WITH POSTS
#########################################

  /reaction:
    post:
      operationId: R601
      summary: 'R601: Create Reaction'
      description: 'Creates a new reaction to a post. Access: USR, OWN, ADM'
      tags:
        - 'Interactions with Posts'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                post_id:
                  type: integer
                is_like:
                  type: boolean
      responses:
        '302':
          description: 'Redirect after processing the reaction creation.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful reaction. Redirect to where the post is.'
                  value:
                  - '/home'
                  - '/groups/{id}'
                  - 'profile/{username}'

                302Failure:
                  description: 'Failed reaction. Redirect to where the post is.'
                  value:
                  - '/home'
                  - '/groups/{id}'
                  - 'profile/{username}'

#########################################
################# INTERACTIONS WITH USERS
#########################################

  /follow:
    post:
      operationId: R701
      summary: 'R701: Follow User'
      description: 'Follows a user. Access: USR, OWN, ADM'
      tags:
        - 'Interactions with Users'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
      responses:
        '302':
          description: 'Redirect after processing the follow.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful follow. Redirect to where the user is.'
                  value:
                  - '/profile/{username}'

                302Failure:
                  description: 'Failed follow. Redirect to where the user is.'
                  value:
                  - '/profile/{username}'

  /unfollow:
    post:
      operationId: R702
      summary: 'R702: Unfollow User'
      description: 'Unfollows a user. Access: USR, OWN, ADM'
      tags:
        - 'Interactions with Users'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
      responses:
        '302':
          description: 'Redirect after processing the unfollow.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful unfollow. Redirect to where the user is.'
                  value:
                  - '/profile/{username}'

                302Failure:
                  description: 'Failed unfollow. Redirect to where the user is.'
                  value:
                  - '/profile/{username}'

#########################################
################# ADMIN
#########################################

  /admin:
    get:
      operationId: R801
      summary: 'R801: Admin Panel'
      description: 'Show the admin panel. Access: ADM'
      tags:
        - 'Administration'
      responses:
        '200':
          description: 'Ok. Show Admin Panel UI'


#########################################
################# SEARCH
#########################################

  /results:
    get:
      operationId: R901
      summary: 'R901: Show Results for a Search'
      description: 'Show the Results of a Search. Access: GST, USR, OWN, ADM'
      tags:
        - 'Search'
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Show Search Results UI'