.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%; /* Ajuste a largura do post */
}

.stretched-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.post-body {
    padding: 10px;
}

.post-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.post-stats span {
    margin-bottom: 10px;
}

.post-stats form,
.post-stats a {
    margin-bottom: 5px;
}

.post-author {
    font-weight: bold;
}

.post-content {
    margin-top: 10px;
}

.post-date {
    color: #888;
}
